<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!--Page Cover-->
  <% if(page.thumbs) { %>
      <meta itemprop="image" content="<%= config.url %><%= page.thumbs %>">
      <meta property="og:image" content="<%= config.url %><%= page.thumbs %>" />
      <meta property="og:url" content="<%= url %>">
  <% } %>
    
     <%  
        var title = page.title;
        if (is_post()){ 
             title = page.title;
        }
    %>
    <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
    <!-- framework CSS -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.4.3/css/bulma.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <%- css('css/ie10-viewport-bug-workaround.css') %>
    <!-- Custom styles for this template -->
    <%- css('css/index.css') %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>